<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadContent</key>
	<array>
		<dict>
			<key>EmailAccountDescription</key>
			<string>{{.Vars.DESCRIPTION}}</string>
			<key>EmailAccountName</key>
			<string>{{.Vars.DISPLAY_NAME}}</string>
			<key>EmailAccountType</key>
			<string>EmailTypeIMAP</string>
			<key>EmailAddress</key>
			<string>{{.EmailAddress}}</string>
			<key>IncomingMailServerHostName</key>
			<string>{{.Vars.IMAP_HOSTNAME}}</string>
			<key>IncomingMailServerPortNumber</key>
			<integer>{{.Vars.IMAP_PORT}}</integer>
			<key>IncomingMailServerUseSSL</key>
			<true/>
			<key>IncomingMailServerUsername</key>
			<string>{{.EmailAddress}}</string>
			<key>OutgoingMailServerHostName</key>
			<string>{{.Vars.SMTP_HOSTNAME}}</string>
			<key>OutgoingMailServerPortNumber</key>
			<integer>{{.Vars.SMTP_PORT}}</integer>
			<key>OutgoingMailServerUseSSL</key>
			<false/>
			<key>OutgoingMailServerUsername</key>
			<string>{{.EmailAddress}}</string>
			<key>PayloadDescription</key>
			<string>{{.Vars.DESCRIPTION}}</string>
			<key>PayloadDisplayName</key>
			<string>{{.Vars.DISPLAY_NAME}}</string>
			<key>PayloadIdentifier</key>
			<string>com.apple.mail.managed.{{.Domain}}</string>
			<key>PayloadType</key>
			<string>com.apple.mail.managed</string>
			<key>PayloadUUID</key>
			<string>{{.Domain}}</string>
			<key>PayloadVersion</key>
			<integer>1</integer>
			<key>SMIMEEnabled</key>
			<false/>
		</dict>
	</array>
	<key>PayloadDescription</key>
	<string>{{.Vars.DESCRIPTION}}</string>
	<key>PayloadDisplayName</key>
	<string>{{.Vars.DISPLAY_NAME}}</string>
	<key>PayloadIdentifier</key>
	<string>com.apple.mail.{{.Domain}}</string>
	<key>PayloadRemovalDisallowed</key>
	<false/>
	<key>PayloadType</key>
	<string>Configuration</string>
	<key>PayloadUUID</key>
	<string>{{.Domain}}</string>
	<key>PayloadVersion</key>
	<integer>1</integer>
</dict>
</plist>
